.bpw-floating-button {
  background-image: url('https://cdn-chato.s3.us-west-2.amazonaws.com/logos/dollarize-icon.svg');
  box-shadow: 0 0 0 0 #48AD6E;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  border-radius: 50%;
}

.bpw-header-container {
  background-color: #217C4B;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #217C4B;
}

@keyframes pulse {
  to {
      box-shadow: 0 0 0 25px rgba(232, 76, 61, 0.01);
  }
}