@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.bpw-chat-container {
  font-family: 'Montserrat', sans-serif;
}

.bpw-floating-button {
  background: #ffffff url('https://cdn-chato.s3.us-west-2.amazonaws.com/logos/flo-ohos.png') no-repeat right center / contain;
  border-radius: 28px;
  width: 170px;
  height: 56px;
  top: auto;
  bottom: 12px;
  left: auto;
  right: 12px;
  margin: 0;
  position: absolute;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bpw-floating-button:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.15);
}

.bpw-floating-button i {
  display: none;
}

.bpw-header-container {
  background-color: #213aa5;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #213aa5;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);
  }
}
