@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.bpw-chat-container {
  font-family: 'Montserrat', sans-serif;
}

.bpw-floating-button {
  background-image: url('https://cdn-chato.s3.us-west-2.amazonaws.com/logos/flo-icon.svg');
  background-repeat: no-repeat;
}

.bpw-floating-button i {
  display: none;
}

.bpw-header-container {
  background-color: #213aa5;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #213aa5;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 25px rgba(232, 76, 61, 0.01);
  }
}
