.bpw-floating-button {
  background-image: url('https://cdn-chato.s3.us-west-2.amazonaws.com/logos/mosi_chat.svg');
  box-shadow: rgb(183, 125, 255);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  border-radius: 50%;
}

.bpw-floating-button i {
  display: none;
}

.bpw-header-container {
  background-color: rgb(183, 125, 255);
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: rgb(183, 125, 255);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 25px rgba(232, 76, 61, 0.01);
  }
}
